<div class="container first">
    <h1>Historial de ahorro</h1>
<hr>
    <ul>
        {{#each purchases}}
        <li>
            <p>Cantidad: {{amount}}€</p>
            <p>Ahorro: {{saving}}€</p>
        </li>
        {{/each}}
    </ul>
</div>