<div class="container">
    <h1>{{appTitle}}</h1>
    <p>CENTRAR MAPA EN GEOLOCALIZACIÓN DEL USUARIO</p>

    <div id="map"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./../js/maps.js"></script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=_________________&libraries=places&callback=initMap"></script>