#map {
  /* height: 650px; */
  background-color: red;
  height: 100vh;
}

.navbar {
  padding: 20px 65px;
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}


.logout {
  background: none;
  border: 0px;
}
<<<<<<< HEAD
=======

.first {
  margin-top: 130px;
}
>>>>>>> 1da7c146f4e18a528b522a7f7615e32a43a42b23
