@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&family=Montserrat:wght@200;400&display=swap');

body {
  background-color: #242424;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 200;
}

input, input:focus {
 box-shadow: none!important;
}

h1, h2 {
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 400;
  text-align: center;
}

h1{
  font-size: 3rem;
}

p {
  color: white;
  font-weight: 200;
  margin-bottom: 5px;
}

li {
  list-style: none;
}

#map {
  /* height: 650px; */
  background-color: #181818;
  height: 100vh;
}

.navbar {
  padding: 10px 65px;
  background-color: #181818;
  box-shadow: 0px 2px 41px 5px rgba(0,0,0,0.3);
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.logout {
  background: none;
  border: 0px;
}

.first {
  margin-top: 130px;
}

.logo {
  width: 150px;
}

form {
  margin: 0px;
}

/* Transicion de carga */
#map {
    opacity: 0;
    transition: opacity 0.5s;
}

#map.loading {
    opacity: 1;
}

.loading {
    position: absolute;
    bottom: 0;
    border: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
} 
 .running .loading {
opacity: 0;
} 

.loader {
    position: absolute; 
    display: flex;
    padding: 200px;
    align-items: center;
    background: #fff;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    filter: blur(10px) contrast(15);
}
@keyframes rotate {
    from {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.particle {
    background: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.particle:first-child,
.particle:last-child {
    width: 25px;
    height: 25px;
}
.particle:nth-child(1),
.particle:nth-child(3),
.particle:nth-child(5),
.particle:nth-child(7),
.particle:nth-child(9) {
    animation: pulse 1.3s ease-in-out infinite;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.9); }
    70% { transform: scale(0.6); }
    100% { transform: scale(1); }
}
.leftSpin {
    animation: leftSpin 2.5s linear infinite;
}
@keyframes leftSpin {
    from {
        transform: rotate(0deg) translateX(50px);
    }
    to {
        transform: rotate(360deg) translateX(50px);
    }
}
.rightSpin {
    animation: rightSpin 2s linear infinite;
}
@keyframes rightSpin {
    from {
        transform: rotate(360deg) translateX(50px);
    }
    to {
        transform: rotate(0deg) translateX(50px);
    }
}
.particle:nth-child(3) {
    animation-delay: .25s;
}
.particle:nth-child(5) {
    animation-delay: .75s;
}
.particle:nth-child(7) {
    animation-delay: 1.5s;
}
.particle:nth-child(9) {
    animation-delay: .3s;
}


/* inicio de sesion */
.auth-form{
  margin-top: 50px;
}

.input-info{
  color: rgb(165, 165, 165);
}

.auth-sub{
  font-size: 1.2rem;
  margin-top: 25px; 
  text-align: center;
}

.auth-btn{
  background-color: #181818;
  color: #fff;
  padding: 10px 0px;
  margin-top: 25px;
}

.auth-btn:hover{
  color: #fff;
  box-shadow: 3px 0px 20px 1px rgba(32,137,167,0.4), -3px 0px 20px 5px rgba(56,198,158,0.6), 5px 5px 15px 5px rgba(0,0,0,0);
}

.top-login-btn{
  color: rgb(255, 255, 255);
  border: 1px solid rgb(56,198,158);
}

.top-login-btn:hover{
  background-color: rgb(41, 241, 208);
  border: 1px solid rgb(41, 241, 208);
}

.top-register-btn{
  color: #181818;
  margin-left: 15px;
  background-color: rgb(41, 241, 208);
}
.top-register-btn:hover{
  background-color: rgba(41, 241, 208, 0.8);
}

.form-input-gray, .form-input-gray:focus{
  background-color: rgba(255, 255, 255, 0.2);
  border: 0px;
  color: white;
  outline: none !important;

}



/* vehicles */
.vehicle-list{
  margin-top: 30px;
}

.vehicle-btn {
  margin: 40px 20px;
  padding: 40px 0px;
  background-color:rgba( 0, 0, 0, 0.05);
  box-shadow: 3px 0px 20px 1px rgba(32,137,167,0.1), -3px 0px 20px 5px rgba(56,198,158,0.1), 5px 5px 15px 5px rgba(0,0,0,0.3);
  border: 0px;
}

.vehicle-btn:hover {
  background-color:rgba( 255, 255, 255, 0.0);
  box-shadow: 3px 0px 20px 1px rgba(32,137,167,0.6), -3px 0px 20px 5px rgba(56,198,158,0.3), 5px 5px 15px 5px rgba(0,0,0,0.3);
  border: 0px;
}

.vehicle-name{
  font-size: 2rem;
  font-family: 'Montserrat Alternates';
  font-weight: 500;
}

.vehicle-fuel{
  color: rgba(255, 255, 255, 0.6);
}

.vehicle-average{
  color: rgba(255, 255, 255, 0.3);
}

.green-btn {
  color: white;
  margin: 40px 0 30px 0;
  padding: 10px 40px;
  align-self: center;
  background: none;
  border: 1px solid rgb(56,198,158);
}

.green-btn:hover{
  background-color: rgb(41, 241, 208);
  border: 1px solid rgb(41, 241, 208);
  color: #181818;
}

.each-purchase{
  background-color:rgba( 0, 0, 0, 0.05);
  margin: 10px 0px;
  padding: 20px 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 3px 0px 20px 1px rgba(32,137,167,0.1), -3px 0px 20px 5px rgba(56,198,158,0.1), 5px 5px 15px 5px rgba(0,0,0,0.3);
}

.each-purchase:hover{
  box-shadow: 3px 0px 20px 1px rgba(32,137,167,0.6), -3px 0px 20px 5px rgba(56,198,158,0.3), 5px 5px 15px 5px rgba(0,0,0,0.3);
}

.edit-btn{
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 174, 0, 0.8);
  color: white;
  width: 120px;
  padding: 10px;
}

.edit-btn:hover{
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 174, 0, 0.1);
  box-shadow: 0px 0px 10px 1px rgba(255, 174, 0, 0.8);
  color: white;
}

.remove-btn{
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(226, 0, 0, 0.8);
  color: white;
  width: 120px;
  margin-left: 20px;
  padding: 10px;

}

.remove-btn:hover{
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 174, 0, 0.1);
  box-shadow: 0px 0px 10px 1px rgba(226, 0, 0, 0.8);
  color: white;
}

.p-purchase{
  font-size: 1.3em;
  font-weight: 500;
}

.p-no-margin{
  margin: 0px;
  color: rgba(255, 255, 255, 0.5);
}

/* PERFIL */
.section{
  background-color: rgba(0, 0, 0, 0.1);
  margin: 30px 5px 30px 5px;
  padding: 40px 40px 30px 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 3px 0px 20px 1px rgba(32,137,167,0.1), -3px 0px 20px 5px rgba(56,198,158,0.1), 5px 5px 15px 5px rgba(0,0,0,0.3);
}

.total-saving{
  font-size: 3rem;
}

.profile-btns{
  margin-bottom: 20px;
}