#map {
  /* height: 650px; */
  background-color: red;
  height: 100vh;
}

.navbar {
  padding: 10px 65px;
  background-color: #181818;
  box-shadow: 0px 2px 41px 5px rgba(0,0,0,0.3);
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.logout {
  background: none;
  border: 0px;
}

.first {
  margin-top: 130px;
}

.logo {
  width: 150px;
}

form {
  margin: 0px;
}