#map {
  /* height: 650px; */
  background-color: red;
  height: 100vh;
}

.navbar {
  padding: 10px 65px;
  background-color: #181818;
  box-shadow: 0px 2px 41px 5px rgba(0,0,0,0.3);
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.logout {
  background: none;
  border: 0px;
}

.first {

  margin-top: 130px;
}

.logo {
  width: 150px;
}

form {
  margin: 0px;
}

/* Transicion de carga */
#map {
    opacity: 0;
    transition: opacity 0.5s;
}

#map.loading {
    opacity: 1;
}



.loading {
    position: absolute;
    bottom: 0;
    border: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
} 
 .running .loading {
opacity: 0;
} 

/* .loading img {
  opacity: 1;
  transition: opacity 0.5s;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
} */

/* body {
    overflow: hidden;
} */
.loader {
    position: absolute; 
    /* position: relative; */
    display: flex;
    padding: 200px;
    align-items: center;
    background: #fff;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    /* animation: rotate 9s linear infinite; */
    filter: blur(10px) contrast(15);
}
@keyframes rotate {
    from {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.particle {
    background: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.particle:first-child,
.particle:last-child {
    width: 25px;
    height: 25px;
}
.particle:nth-child(1),
.particle:nth-child(3),
.particle:nth-child(5),
.particle:nth-child(7),
.particle:nth-child(9) {
    animation: pulse 1.3s ease-in-out infinite;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.9); }
    70% { transform: scale(0.6); }
    100% { transform: scale(1); }
}
.leftSpin {
    animation: leftSpin 2.5s linear infinite;
}
@keyframes leftSpin {
    from {
        transform: rotate(0deg) translateX(50px);
    }
    to {
        transform: rotate(360deg) translateX(50px);
    }
}
.rightSpin {
    animation: rightSpin 2s linear infinite;
}
@keyframes rightSpin {
    from {
        transform: rotate(360deg) translateX(50px);
    }
    to {
        transform: rotate(0deg) translateX(50px);
    }
}
.particle:nth-child(3) {
    animation-delay: .25s;
}
.particle:nth-child(5) {
    animation-delay: .75s;
}
.particle:nth-child(7) {
    animation-delay: 1.5s;
}
.particle:nth-child(9) {
    animation-delay: .3s;
}