<div class="container">

  <div class="row">

    <h1>Elige tu vehículo</h1>

    <ul>
      {{#each vehicle}}
      <li>

        <a href="/"><button type="button" class="btn btn-primary">{{brand}} {{model}}</button></a>
        <a href="/vehiculos/editar/{{_id}}" class="btn btn-warning">Editar</a>
        <form action="/vehiculos/eliminar/{{_id}}" method="POST" style="display: inline-block">
        <button class="btn btn-danger" >Eliminar</button>
        </form>
      </li><br><br>


      {{/each}}
      


      
    </ul>
        <a class="btn btn-primary" href="/vehiculos/crear" role="button">A;adir vehiculo</a>

  </div>




</div>

</div>