<div class="container first">


<h1>Estadisticas</h1>
<hr>

<div class="row">


<div class="col-md-4">
<h2>Listado de usuarios</h2>
<br>
<ol class="list-group list-group-numbered">
    {{#each user}}
  <li class="list-group-item">{{name}} 
        <form action="/admin/eliminar/{{_id}}" method="POST" style="display: inline-block">
            <button class="btn btn-danger">Eliminar</button>
        </form></li>
    {{/each}}
</ol>

</div>
<div class="col-md-4">
    <h2>Listado de vehiculos</h2>
    <br>
<ol class="list-group list-group-numbered">
    {{#each vehicles}}
  <li class="list-group-item">{{brand}} {{model}}</li>
    {{/each}}
</ol>
</div>
<div class="col-md-4">
    <h2>Ahorro total de nuestros clientes</h2>
    <br>
<ul class="list-group">
    {{!-- {{#each purchase}} --}}
  <li class="list-group-item">Ahorrados 1.250 euros</li>
  
    {{!-- {{/each}} --}}
</ul>
</div>


</div>


</div>